.component-header{
    width: 70%;
    margin: 2rem auto;
    min-height: 15vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;

    .site-info {
        margin-left: 2.5rem;

        h1 {
            color: #000;
            font-family: 'Rock Salt', cursive;
            font-size: 2.1rem;
        }

    }   

    .show-library {
        margin: 0;
        cursor: pointer;
        display: flex;
        flex-flow: row wrap;
        align-items: flex-end;
        justify-content: flex-end;
        position: absolute;
        right: 0;
        
        img {
            width: 20%;
            align-self: center;
        }

        div {
            align-self: center;
        }

/*         svg {
            color: #333;
            transition: all 0.3s ease;

            &:hover {
                color: rgba(65,65,65, 0.7);
            }
        } */
    }

    @media screen and (max-width: 960px) {
        width: 100%;

        .show-library {
              margin-right: 1rem;
        }
        
    }

    @media screen and (max-width: 480px) {
        .site-info {
            h1 {
                font-size: 1.6rem;
            }
    
        } 
        
    }
}